* {
  border: none;
  border-radius: 0;
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(80, 10, 10, 0.2);
  border-bottom: 2px solid rgba(128, 0, 0, 1);
  color: white;
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
  background: rgba(43, 48, 59, 1);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

label:focus {
    background-color: #FF0000;
}

#clock, #cpu, #gamemode, #group, #memory, #network, #tray, #taskbar, #wireplumber, #workspaces, #mode, #battery {
  padding: 0 8px;
}

#clock {
  }

#memory {
  }

#cpu {
  }

#gamemode.running {
  background-color: #FF4C4C;
  color: #FFFFFF;
  border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}
#network {

 }

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#network.disconnected {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#wireplumber {

 }

#wireplumber.muted {
  background-color: #f53c3c;
  color: white;
}

#tray {
    
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f53c3c;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;

}

#workspaces button.active {
  background: rgba(128, 0, 0, 0.5);
  border-bottom: 3px solid white;
  transition: all 0.3s ease-in-out;
  opacity:1.0;

}

#workspaces button:hover {
    background: rgba(128, 0, 0, 0.8);
}
/* ??? Not sure if this one works? */
#workspaces button.focused {
    background-color: #C00000;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


#taskbar button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#taskbar button.active {
  background: rgba(128, 0, 0, 0.5);
  border-bottom: 3px solid white;
}






